extends layout
block content
  h1= title
  - let results=[{type:"gold", size:"small", set:2},{type:"sliver", size:"medium", set:1},{type:"platinum", size:"big", set:4}]
  div(class="container-fluid")
  div(class="row")
  each value,index in results
    div(class="col-sm-2" onclick=`buy(${index})`) The Earring type is #{value.type}, and Size is #{value.size} in which each set contains #{value.set}
  script.
    function buy(index)
    {
      alert(`Your purchased Item ${index+1}`)
    }
    